.content {
  margin-top: var(--spacing-3xl);
  padding-block: 20px;
  flex-grow: 1;
}

.background {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  min-height: 100vh;
}
