.feed {
  display: flex;
  justify-content: center;
}

.boulderTableContainer {
  padding-block: var(--spacing-m);
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--quaternary-color);
}

/* .boulderTableContainer:first-child {
  padding-top: 0;
} */

.boulder {
  width: clamp(300px, 100%, 600px);
  margin: 0 auto;
}

.boulderHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-block: var(--spacing-s);
}

.boulderHeaderTitle {
  display: flex;
  align-items: center;
}

.boulderHeaderTitle > h3 {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  margin-left: 0.25rem;
  margin-block: var(--margin-xxs);
}

.boulderHeaderGrade {
  text-align: right;
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
}

.boulderImgWrapper {
  display: flex;
  background-color: var(--primary-color-dark);
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  justify-items: center;
  align-items: center;
  margin-block: var(--spacing-xxs);
  margin-inline: auto;
  overflow: hidden;
}

.boulderImgWrapper > a {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.boulderGroupLabel {
  font-size: 1.25rem;
  margin-block: var(--spacing-m);
}

.boulderInfo {
  margin-block: var(--spacing-m);
  color: var(--color-black-light);
}

.boulderInfo > p {
  margin-block: var(--spacing-xxs);
}

.boulderInfo > b {
  font-weight: var(--font-weight-bold);
}
