.feed {
  display: flex;
  justify-content: center;
}

.boulderTableContainer {
  padding-block: var(--spacing-s);
  padding-inline: var(--spacing-m);
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--quaternary-color);
}

.boulderTableContainer:first-child {
  padding-top: 0;
}

.boulderTableContainer:last-child {
  border-bottom: 0;
}

.boulder {
  width: clamp(300px, 100%, 600px);
  margin: 0 auto;
}

.boulderHeader {
  display: flex;
  grid-template-columns: space-between;
  align-items: center;
  margin-block: var(--spacing-s);
}

.boulderHeader > h3 {
  flex: 1;
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  margin-inline: var(--margin-xxs);
  margin-block: var(--margin-xxs);
}

.boulderHeaderGrade {
  text-align: right;
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
}

.boulderImgWrapper {
  display: flex;
  background-color: var(--primary-color-dark);
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  justify-items: center;
  align-items: center;
  margin-block: var(--spacing-xxs);
  margin-inline: auto;
  overflow: hidden;
}

.boulderImgWrapper > a {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.boulderImgLink {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.boulderGroupLabel {
  font-size: 1.25rem;
  margin-block: var(--spacing-m);
}

.boulderInfo {
  margin-block: var(--spacing-m);
  color: var(--color-black-light);
}

.boulderInfo > p {
  margin-block: var(--spacing-xxs);
}

.boulderInfo > b {
  font-weight: var(--font-weight-bold);
}

.boulderFormTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: var(--spacing-s);
}

.boulderFormTitle > h1 {
  flex: 1;
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  margin-inline: var(--margin-xxs);
  margin-block: var(--margin-xxs);
}

.formTitleDivider {
  border: none;
  border-top: 2px solid var(--secondary-color);
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.boulderForm {
  padding: var(--spacing-xs);
}

.boulderFromLatlongWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--spacing-xs);
  justify-content: space-between;
  /* margin-block: var(--spacing-xxs); */
}

.boulderFormButtonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--spacing-xs);
  justify-content: space-between;
  margin-block: var(--spacing-s);
}
