.header {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  height: var(--spacing-4xl);
  /* padding-block: var(--spacing-l); */
  padding-inline: var(--spacing-m);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header > a {
  cursor: pointer;
  text-align: center;
  justify-content: center;
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-black);
  margin-inline: var(--spacing-xl);
}

@media only screen and (width >=768px) {
  .header > h1 {
    text-align: left;
  }
}

.pageHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: var(--spacing-s);
}

/* Buttons and inputs */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: var(--border-radius);
  padding-block: var(--spacing-xxs);
  padding-inline: var(--spacing-s);
  font-weight: var(--font-weight-bold);
}

.button:hover {
  background-color: var(--primary-color-dark);
  color: var(--primary-color);
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  /* margin-block: var(--spacing-xxs); */
  margin-inline: var(--spacing-xxs);

  padding: auto;
  width: auto; /* Explicitly ensure no extra width is applied */
  height: 32px; /* Explicitly ensure no extra height is applied */
  overflow: hidden; /* Clip the pseudo-element to the button's size */
  position: relative;
  aspect-ratio: 1; /* Ensure the button is square */
}

.iconButton:hover {
  background-color: var(--primary-color-dark);
  color: var(--primary-color);
}

.iconButton:active::after {
  content: ""; /* Pseudo-element for overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black */
  pointer-events: none; /* Ensure the overlay doesn't interfere with clicks */
  cursor: pointer;
  border-radius: var(--border-radius);
}

.iconButtonImage {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.inputError {
  color: var(--error-color);
  margin-inline: var(--spacing-xxs);
  font-size: var(--font-size-s);
}

.inputLabel {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
}

.boulderInput {
  display: flex;
  flex-direction: column;
  margin-block: var(--spacing-xxs);
}

.boulderInput input {
  border: var(--input-border);
  width: 100%;
  padding: var(--spacing-xs);
  border-radius: var(--border-radius);
  font-size: var(--font-size-md);
}

.boulderInput textarea {
  border: var(--input-border);
  width: 100%;
  padding: var(--spacing-xs);
  border-radius: var(--border-radius);
  font-size: var(--font-size-md);
  resize: none;
}

/* .selectInput {
  display: flex;
  flex-direction: column;
  margin-block: var(--spacing-xxs);
} */

.boulderInput select {
  border: var(--input-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-xs);
}

.boulderGroupInputWrapper {
  display: flex;
  flex-direction: column;
  margin-block: var(--spacing-xxs);
  /* margin-inline: var(--spacing-xs); */
}

.boulderGroupInput {
  border: var(--input-border);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
}

.boulderGroupInput input {
  width: 100%;
  font-size: var(--font-size-md);
  padding: var(--spacing-xs);
}

.boulderGroupSelectedInput {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: var(--font-size-md);
  padding: var(--spacing-xs);
  font-weight: var(--font-weight-bold);
}

.boulderGroupSelectedInputValue {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.boulderGroupDropdown {
  margin-inline: var(--spacing-xs);
}

.boulderGroupDropdownItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-xs);
  border: 1px solid var(--secondary-color-lightest);
  border-radius: var(--border-radius);
  margin-block: var(--spacing-xxs);
}

.boulderGroupDropdownItemCreateNew {
  color: var(--tertiary-color);
  font-weight: var(--font-weight-black);
  white-space: nowrap;
  margin-left: var(--spacing-xs);
}

/* Navbar */

.navbar {
  position: fixed;
  top: var(--spacing-4xl);
  z-index: 900;
  overflow: auto;
  background-color: var(--secondary-color-light);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  /* Transition */
  transition: transform 0.1s ease-in-out;
  border-end-end-radius: var(--border-radius);
}

@media only screen and (width < 768px) {
  .navbar {
    width: 100%;
    border-end-start-radius: var(--border-radius);
  }
}

@media only screen and (width >= 768px) {
  .navbar {
    min-width: 200px;
  }
}

.navbar ul {
  display: inline-block;
  text-align: left;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: var(--spacing-xxs);
  padding: 0;
  border-radius: var(--border-radius);
  /* background-color: var(--secondary-color-lighter); */
}

.navbar li:hover {
  background-color: var(--secondary-color-lighter);
}

.navbar a {
  display: flex;
  width: 100%;
}

.navbarContentWrapper {
  display: inline-block;
  padding-inline: var(--spacing-m);
}

.navbarContent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xxs);
  font-weight: var(--font-weight-bold);
}

.navbar .iconButtonImage {
  margin-right: var(--spacing-xs);
}

.divider {
  border: none;
  border-top: 2px solid var(--secondary-color);
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.placeholderContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholderImageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color-lightest);
}
